.weather{
	color: white
}
.fontImage{
	height: 320px;
	width: 350px;
}
.titre_tab{
	padding: 15px;
}

.money{
	font-size: 120%;
}

.perso{
	position: absolute;
	width: 5px;
	height: 5px;
	border: 1px solid black;
	border-radius: 50%;
	background: blue;
}

.case{
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #ccc;
	/*border: 1px solid black;*/
	margin-top: -10px;
}

.buttonMoins{
	color: red;
}

.buttonPlus{
	color: green;
}

.divEnvoie{
	margin-top: 15px;
}

.btn.active {                
	display: none;		
}

.btn span:nth-of-type(1)  {            	
	display: none;
}
.btn span:last-child  {            	
	display: block;		
}

.btn.active  span:nth-of-type(1)  {            	
	display: block;		
}
.btn.active span:last-child  {            	
	display: none;			
}

.pagination>li {
display: inline;
padding:0px !important;
margin:0px !important;
border:none !important;
}
.modal-backdrop {
  z-index: -1 !important;
}
/*
Fix to show in full screen demo
*/
iframe
{
    height:700px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

section button {
  margin: 0 auto;
  font-size: 2.0rem;
  padding: 1.25rem 2.5rem;
  display: block;
  background-color: #12ba3d;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section button:hover {
  background-color: #ffffff;
  color: #12ba3d;
  border-color: #12ba3d;
}

.js-trigger-overlay{
	margin-top: 15px;
}

#add, #clear{
	margin-bottom: 15px;
}

.list {
	font-family:"Trebuchet MS";
    font-size:20px;
	color:#000000;
    cursor:pointer;
}


.listTitre{
	font-weight: bold;
	padding: 5px;
}

td
{
    border: 1px solid #DDD;
    padding: 10px;
    text-align: center;
}

.input{
	width: 50px;
}

.tablePub{
margin-bottom: 25px;
}

#myCanvas{
  border:1px solid #d3d3d3;
}


.recapTable{
	width: 100%;
}
td{
	width: 20%;
}

.recapEnd{
	margin-top: 20px;
}

.spinner{
  width: 200px;
}

.text-warning{
  text-align: center;
}